/* задание №2 */
html,
body,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #3c4043;
  background-color: #fff;
}

.main {
  margin: 0 auto;
  padding: 0 210px;
}

button {
  font-family: "Roboto", sans-serif;
  box-sizing: content-box;
}

.googleTranslateTitle {
  color: #5f6368;
  font-size: 22px;
  line-height: 48px;
  font-weight: normal;
  margin: 0;
}

.googleTranslateLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.feedbackContainer {
  display: flex;
  justify-content: flex-end; /* Выравниваем кнопку справа */
  margin-top: 10px; /* Отступ сверху */
}
.link-feedback:hover {
  text-decoration: underline;
}

/* стили кнопочек, задание №3 */
/* стиль на class "logoButton" */

.logoButton {
  cursor: pointer;
  position: relative;
  padding: 0%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: #5f6368;
}

.logoButton:hover {
  background-color: rgba(60, 64, 67, 0.08);
  outline: none;
}
.logoButton:active {
  background-color: rgba(60, 64, 67, 0.12);
  outline: none;
}

.ButtonFunction {
  outline: none;
  cursor: pointer;
  display: flex;
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  height: 40px;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: transparent;
  color: rgb(23, 78, 166);
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 200ms ease;
  border: 1px solid #d0d4da;
  align-items: center;
  gap: 8px;
}

.ButtonFunction:active:not(:disabled) {
  color: rgb(140, 23, 166);
}
.ButtonFunction:hover {
  background-color: rgba(60, 64, 67, 0.12);
}

/* .clickEffect {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  opacity: 0;
  transition: all 0.2s ease;
  border-radius: 50%;
  background-color: rgba(4, 255, 0, 0.5);
}

.ButtonImage:hover .clickEffect {
  top: 50%;
  left: 50%;
  height: 1px;
  opacity: 0.5;
  transform: scale(50);
} */

.lang {
  display: flex;
}
.Languages {
  outline: none;
  cursor: pointer;
  position: relative;
  width: 150px;
  height: 40px;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: transparent;
  color: #5f6368;
  box-sizing: border-box;
  transition: all 200ms ease;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
}
.Languages:hover {
  background-color: rgba(60, 64, 67, 0.12);
}
.Languages:active:not(:disabled) {
  color: rgb(23, 78, 166);
}

.InputLanguages {
  display: flex;
  flex-direction: row;
}

/* хоспади помаги */
.language-switcher {
  display: inline-flex;
  position: relative;
  padding-bottom: 2px;
  flex: 1;
  padding-left: 8px;
}

.languageInput {
  display: none;
}

.languageLabel {
  cursor: pointer;
  position: relative;
  height: 40px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0 8px;
  background-color: transparent;
  color: #5f6368;
  box-sizing: border-box;
  transition: all 200ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.languageLabel:hover {
  background-color: rgba(60, 64, 67, 0.12);
}

.languageLabel:active:not(:disabled) {
  color: rgb(23, 78, 166);
}

.languageLabel .Languages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageInput:checked + .languageLabel {
  color: #1a73e8;
}

.language-switcher::after {
  content: "";
  position: absolute;
  bottom: 2px;
  height: 1.6px;
  background: #1a73e8;
  transition: all 0.3s ease;
}

/* Позиционирование для каждого варианта */
/* .choseLanguage:checked ~ .language-switcher::after {
} */

.languageInput.choseLanguage:checked ~ .language-switcher::after {
  left: 0.25%;
  width: calc(100% / 4 - 0.5%);
}

.languageInput.eng:checked ~ .language-switcher::after {
  left: 25.25%;
  width: calc(100% / 4 - 0.5%);
}

.languageInput.pls:checked ~ .language-switcher::after {
  left: 50.25%;
  width: calc(100% / 4 - 0.5%);
}

.languageInput.rus:checked ~ .language-switcher::after {
  left: 75.25%;
  width: calc(100% / 4 - 0.5%);
}

/* хоспади помаги 2 */
.InputLanguages {
  display: flex;
  flex-direction: row;
}

.language-switcher {
  display: inline-flex;
  position: relative;
  padding-bottom: 2px;
}

.languageOutput {
  display: none;
}

.language-switcher::after {
  content: "";
  position: absolute;
  bottom: 2px;
  height: 1.6px;
  background: #1a73e8;
  transition: all 0.3s ease;
}

/* Позиционирование для каждого варианта */
/* .choseLanguage:checked ~ .language-switcher::after {
} */

.languageOutput.choseLanguage:checked ~ .language-switcher::after {
  left: 0.25%;
  width: calc(100% / 4 - 0.5%);
}

.languageOutput.eng:checked ~ .language-switcher::after {
  left: 25.25%;
  width: calc(100% / 4 - 0.5%);
}

.languageOutput.pls:checked ~ .language-switcher::after {
  left: 50.25%;
  width: calc(100% / 4 - 0.5%);
}

.languageOutput.rus:checked ~ .language-switcher::after {
  left: 75.25%;
  width: calc(100% / 4 - 0.5%);
}

/* позиционирование шапка сайта */
.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  top: 0;
  position: sticky;

  background-color: white;
  z-index: 1000;
  align-items: center;
}

.logoContener {
  display: flex;
  gap: 4px;
  align-items: center;
}
.HelpFunction {
  display: flex;
  padding: 12px;
  gap: 0 8px;
}
.buttonList {
  display: inline-flex;
  position: relative;
}

.groupOfLanguages {
  display: inline-flex;
  position: relative;
}

.windowsContainer {
  display: flex;
  gap: 8px;
}

/* Окна переводов */
.window1 {
  flex-grow: 1;
  padding: 12px 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  min-height: 165px;
  display: flex;
}
.window2 {
  flex-grow: 1;
  padding: 12px 16px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  min-height: 165px;
  display: flex;
}

/* стиль окошечка */
.windowFirst {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 14px;
  min-height: 164px;
  position: relative;
}
/* .buttonWindow1 {
  position: absolute;
  top: 40%;
} */

.windowSecond {
  display: flex;
  flex: 1;
  font-size: 14px;
  line-height: 27px;
  position: relative;
}

.buttonBottom {
  position: absolute;
  bottom: 0;
}

/* кнопочка Сохранить перевод */
.buttontopRight {
  position: absolute;
  right: 0;
  top: 0;
}

.buttonRightBottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.textVolume {
  margin: 0 0;
}

.link {
  text-decoration: none;
  color: #5f6368;
  font-style: italic;
  font-size: 11px;
  font-weight: 400;
}

/* концовые кнопки "История" и  "Сохранить" */

/* .buttonSmall {
  position: absolute;
  left: 450%;
  bottom: -115%;
}
.buttonKeyboard {
  position: absolute;
  left: 430%;
  bottom: -115%;
}
.buttonText {
  position: absolute;
  left: 380%;
  top: 170%;
} */
